# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd
import pandas_datareader as pdr
import datetime as dt
import os

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [3]:
start_date = dt.date(2015, 1, 1)
end_date = dt.date(2022, 9, 22)

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [4]:
ALPHAVANTAGE_API_KEY = 'K15GY8QOVBFUBRW5'

apple_df = pdr.data.DataReader('AAPL', 'av-daily', start=start_date, end=end_date, api_key=ALPHAVANTAGE_API_KEY)

apple_df

              open    high      low   close     volume
2015-01-02  111.39  111.44  107.350  109.33   53204626
2015-01-05  108.29  108.65  105.410  106.25   64285491
2015-01-06  106.54  107.43  104.630  106.26   65797116
2015-01-07  107.20  108.20  106.695  107.75   40105934
2015-01-08  109.23  112.15  108.700  111.89   59364547
...            ...     ...      ...     ...        ...
2022-09-15  154.65  155.24  151.380  152.37   90481110
2022-09-16  151.21  151.35  148.370  150.70  162278841
2022-09-19  149.31  154.56  149.100  154.48   81474246
2022-09-20  153.40  158.08  153.080  156.90  107689796
2022-09-21  157.34  158.74  153.600  153.72  101696790

[1944 rows x 5 columns]

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [5]:
apple_df.insert(5, 'stock', 'AAPL')
apple_df

              open    high      low   close     volume stock
2015-01-02  111.39  111.44  107.350  109.33   53204626  AAPL
2015-01-05  108.29  108.65  105.410  106.25   64285491  AAPL
2015-01-06  106.54  107.43  104.630  106.26   65797116  AAPL
2015-01-07  107.20  108.20  106.695  107.75   40105934  AAPL
2015-01-08  109.23  112.15  108.700  111.89   59364547  AAPL
...            ...     ...      ...     ...        ...   ...
2022-09-15  154.65  155.24  151.380  152.37   90481110  AAPL
2022-09-16  151.21  151.35  148.370  150.70  162278841  AAPL
2022-09-19  149.31  154.56  149.100  154.48   81474246  AAPL
2022-09-20  153.40  158.08  153.080  156.90  107689796  AAPL
2022-09-21  157.34  158.74  153.600  153.72  101696790  AAPL

[1944 rows x 6 columns]

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [6]:
tesla_df = pdr.data.DataReader('TSLA', 'av-daily', start=start_date, end=end_date, api_key=ALPHAVANTAGE_API_KEY)
tesla_df.insert(5, 'stock', 'TSLA')

ibm_df = pdr.data.DataReader('IBM', 'av-daily', start=start_date, end=end_date, api_key=ALPHAVANTAGE_API_KEY)
ibm_df.insert(5, 'stock', 'IBM')

microsoft_df = pdr.data.DataReader('MSFT', 'av-daily', start=start_date, end=end_date, api_key=ALPHAVANTAGE_API_KEY)
microsoft_df.insert(5, 'stock', 'MSFT')

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [7]:
combined_df = pd.concat([apple_df, tesla_df, ibm_df, microsoft_df])
combined_df

               open    high       low   close    volume stock
2015-01-02  111.390  111.44  107.3500  109.33  53204626  AAPL
2015-01-05  108.290  108.65  105.4100  106.25  64285491  AAPL
2015-01-06  106.540  107.43  104.6300  106.26  65797116  AAPL
2015-01-07  107.200  108.20  106.6950  107.75  40105934  AAPL
2015-01-08  109.230  112.15  108.7000  111.89  59364547  AAPL
...             ...     ...       ...     ...       ...   ...
2022-09-15  249.770  251.40  244.0200  245.38  31530948  MSFT
2022-09-16  244.260  245.30  242.0627  244.74  39791768  MSFT
2022-09-19  242.465  245.14  240.8500  244.52  26826931  MSFT
2022-09-20  242.065  243.51  239.6400  242.45  26660299  MSFT
2022-09-21  244.270  247.66  238.9000  238.95  28625557  MSFT

[7776 rows x 6 columns]

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [10]:
combined_df.index.name = 'date'
combined_df.reset_index(inplace=True)
combined_df.set_index(['stock', 'date'], inplace=True)
combined_df

                     open    high       low   close    volume
stock date
AAPL  2015-01-02  111.390  111.44  107.3500  109.33  53204626
      2015-01-05  108.290  108.65  105.4100  106.25  64285491
      2015-01-06  106.540  107.43  104.6300  106.26  65797116
      2015-01-07  107.200  108.20  106.6950  107.75  40105934
      2015-01-08  109.230  112.15  108.7000  111.89  59364547
...                   ...     ...       ...     ...       ...
MSFT  2022-09-15  249.770  251.40  244.0200  245.38  31530948
      2022-09-16  244.260  245.30  242.0627  244.74  39791768
      2022-09-19  242.465  245.14  240.8500  244.52  26826931
      2022-09-20  242.065  243.51  239.6400  242.45  26660299
      2022-09-21  244.270  247.66  238.9000  238.95  28625557

[7776 rows x 5 columns]

### Step 7. Create a dataFrame called vol, with the volume values.

In [11]:
vol = pd.DataFrame(combined_df['volume'])
vol

                    volume
stock date
AAPL  2015-01-02  53204626
      2015-01-05  64285491
      2015-01-06  65797116
      2015-01-07  40105934
      2015-01-08  59364547
...                    ...
MSFT  2022-09-15  31530948
      2022-09-16  39791768
      2022-09-19  26826931
      2022-09-20  26660299
      2022-09-21  28625557

[7776 rows x 1 columns]

### Step 8. Aggregate the data of volume to weekly.


Hint: Be careful to not sum data from the same week of 2015 and other years.

In [38]:
vol1 = vol.reset_index()
vol1.date = pd.to_datetime(vol1.date)
vol2 = vol1.set_index(['date'])
vol3 = vol2.groupby('stock').resample('W').sum()
vol3

                     volume
stock date
AAPL  2015-01-04   53204626
      2015-01-11  282868187
      2015-01-18  304226647
      2015-01-25  198737041
      2015-02-01  465842684
...                     ...
TSLA  2022-08-28  169020694
      2022-09-04  249374939
      2022-09-11  213818141
      2022-09-18  341416185
      2022-09-25  184429595

[1616 rows x 1 columns]

### Step 9. Find all the volume traded in the year of 2015

In [45]:
vol_total = vol2.resample('A').sum()
vol2015 = vol_total.iloc[0]
vol2015

volume    24314152987
Name: 2015-12-31 00:00:00, dtype: int64